
/*Sudrishya section
UN ID:17439845*/
body{
    font-size: 20px;
    color: black;
    background:#bebdbf;
    margin: 0 auto;
  }
  .upper{
    background: #A07EB0;
  }
  /*header part*/
  header{
    text-align: center;/*mmoves the text in center*/
    padding: 2%;
    color: purple;
    background: #A07EB0;
  }
  header h2{
    color: black;
    font-family: "Gabriola", Gabriola, serif;/*provides font family*/
    font-size: 50px;
  }
  h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
    padding: 0px;
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  .upper{
    background: #67426d;
    padding: 0%;
  }
  .upper ul{
    display: flex;
    flex-direction: row;/*the text displsys in row*/
    flex-grow: 1;
    padding: 2%;
  }
  .upper ul li{
    margin: 1%;
    padding: 0.2%;
    flex-grow: 1;
    color: white;
    font-family: "Times New Roman", Arial,serif;/*provides font family*/
    font-style: normal;
    justify-content: space-around;/*justifies the content*/
    text-align: center;
  }
  .upper ul li a{
    color: black;
    display: block;
    text-align: center;
  }
  .upper ul li a:hover{/*provides hover*/
    color: white;
    }
    /*section part*/
    section{
      color: black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    h2{
      padding: 1%;
    }
    .top{
      margin:1%;
      border-radius: 10px;/*gives curve edges to the division*/
      width: 60%;
      padding: 2%;
      border: 1px solid #1e1e1e;/*provides a border to the division*/
    }
    .top:hover{/*gives hover*/
      background: #A07EB0;
    }
    .bottom{
      margin:1%;
      border-radius: 10px;
      width: 60%;
      padding: 2%;
      border: 1px solid #1e1e1e;
    }
    .bottom:hover{
      background:   #A07EB0;
    }
    .right{
      margin:1%;
      color: black;
      border-radius: 10px;
      width: 60%;
      padding: 2%;
      border: 1px solid #1e1e1e;
    }
    .right:hover{
      background:   #A07EB0;
    }
    .middle{
      margin:1%;
      border-radius: 10px;
      width: 60%;
      padding: 2%;
      border: 1px solid #1e1e1e;
    }
    .middle:hover{
      background:   #A07EB0;
    }
    .left{
      margin:1%;
      color: black;
      border-radius: 10px;
      width: 60%;
      padding: 2%;
      border: 1px solid #1e1e1e;
    }
    .left:hover{
      background:   #A07EB0;
    }
    /*footer part*/
    footer{
      margin-top: 5%;
      background: #67426d;
      padding: 2%;
    }
    .below{
      text-align: right;
      color: black;
    }
    /*provides mobile responsive to the website*/
    @media all and (max-width:600px){
      header{
        width: 96%;
      }

      .upper{
        width: 100%;
      }

      .upper ul{
        width: 96%;
        display: flex;
        flex-direction: column;/*text displys in column*/
        background: none;
      }

      .upper ul li{
        margin-bottom: 10px;
      }
      /*section part*/
      section{
        width: 96%;
        flex-direction: column;
        margin-bottom: 10px;
      }
      .top{
        width: 96%;
        margin: 2%;
        margin-bottom: 8px;
      }
      .bottom{
        width: 96%;
        margin: 2%;
        margin-bottom: 8px;
      }
      .right{
        width: 96%;
        margin: 2%;
        margin-bottom: 8px;
      }
      .middle{
        width: 96%;
        margin: 2%;
        margin-bottom: 8px;
      }
      .left{
        width: 96%;
        margin: 2%;
        margin-bottom: 8px;
      }
      .null{
        display: none;
      }
      /*footer part*/
      footer{
        width: 96%;
        flex-direction: column;
      }
      .down{
        width: 100%;
        text-align: center;
      }
      .below{
        width: 100%;
        text-align: center;
      }
    }
