body{  font-style: italic; font-size: 20px; color: white; background-image: url("image3.jpg");
background-repeat: no-repeat;
background-size: cover;
}
header{
  text-align: center; padding: 3%;
}
header h2{
  color: black;
  font-family: "Gabriola", Gabriola, serif;
}
h1,h2,h3,h4,h5,h6,p{
margin: 0; padding: 0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
header ul{
  display: flex; flex-direction: row;
}
header ul li{
  margin: 1%; padding: 0.2%; flex-grow: 1; background: #BA55D3; color:black; border-radius: 18%; font-family: "Bradley Hand ITC", Bradley,serif;
  font-style: normal;
}
header ul li a{
  color: black;
}
header ul li:hover{
  background:  #9370DB;
}
section{
  color: black;
}
.bottom{
  color: black;
}
footer{
  margin-top: 5%;
}
.below{
  text-align: right; color: black;
}
