body{  font-style: italic; font-size: 20px; color: white; background-image: url("image3.jpg");
background-repeat: no-repeat;
background-size: cover;
}
header{
  text-align: center; padding: 3%;
}
header h2{
  color: black;
  font-family: "Gabriola", Gabriola, serif;
}
h1,h2,h3,h4,h5,h6,p{
margin: 0; padding: 0;
}
